
.header-title {
    font-size: $l-size;
    margin: 0;
    padding-left: $s-size;
    padding-right: $s-size;
    padding-bottom: $s-size;
    color:white;
    align-items: left;
    size: $xl-size;
    background: black;
    padding-top: $s-size;
    display: inline-block;
}

.menu {
    color: white;
    font-size: $m-size;
    font-weight: 500;
    cursor: pointer;   
    text-align: center;   
    background: white;  
    display: inline-block;  
    padding: $-s-size $-s-size $-s-size $-s-size;
    text-align: center;
    width: 100%;
}

.header__menu {
    text-decoration: none;
    padding: $m2-size;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: $desktop-breakpoint) {
    .header-title {
        margin-bottom: $m-size;
        align-content: right;
    }
    
    .menu {    
        font-size: $m-size;
        font-weight: 500;
        cursor: pointer;   
        text-align: center;   
        background: white;  
        display: inline-block;  
        padding: $-s-size $-s-size $-s-size $-s-size;
        align-content: rigth;
        width: 35%;
        margin-right: 0;       
        float: right;  
        margin-top: 3rem;
        margin-right: 3rem;
        font-size: 2.5rem;
    }
}
