// Colors for fonts
$off-black: #20222b;
$off-white: #a5afd7;
$light-blue: #464b5e;
$purple: #8357c5;
$blue: #3c4251;
$black: #0B0B0B;
$orange-menu: #F2B35B;

// Colors fro backgrounds
$dark-blue: #333745;

// Size for buttoms, paddings and fonts
$s-size: 1.2rem;
$-s-size: 0.7rem;
$m-size: 1.6rem;
$m2-size: 2.3rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;